.App {
  text-align: center;
  background-color: #2C2525; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  user-select: none;
}

.button-bar {
  display: flex;
  padding-bottom: 50px;
}

.start-button {
  height: 46px;
  width: 120px;
  font-weight: 700;
  cursor: pointer;
  color:  #FD6883;
  background-color: #372F2F;
  outline: none;
  font-size: 18px;
  border-radius: 10px;
  display: block;
  margin-bottom: 16px;


}

.counter {
  color: #FD6883;
}

.credit {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 11px;
}

.react {
  color: #61DAFB;
}