.square {
  background-color: #2C2525;
  /* border: 10px solid #948A8B; */
  position: relative;
}

.mini-square {
  position: relative;
}

.inner-square {
  position: absolute;
  /* border: 10px solid rgb(87, 77, 77); */
  top: 90px;
  left: 90px;
  height: 300px;
  width: 300px;
  /* z-index: 100; */
}

.intro {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 125px;
  left: 125px;
  font-weight: 600;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 30px;
}

.intro2 {
  font-size: 20px;
  margin-top: 60px;
}