.tile {
  cursor: pointer;
  position: absolute;
  box-shadow:inset 0px 0px 0px 3px white;
  border-radius: 10px;
  outline: none;
}

.mini-tile {
  position: absolute;
  border-radius: 5px;
  outline: none;
}

.overlay {
  opacity: 0.5;
}

.hidden {
  visibility: hidden;
}

.red {
  background-color: #e41858;
}

.blue {
  background-color: #007bbe;
}

.green {
  background-color: #00ac4b;
}

.yellow {
  background-color: #ffec00;
}

.orange {
  background-color: #f7941e;
}

.white {
  background-color: ghostwhite;
}